.user-navbar{
    background-color: #271745;
    /* height: 20vh; */
 }

.usermenucolor a{
    color: white !important;
}

.usermenucolor a:hover{
    font-weight: bold;
    
}
#user-details-on-header{
    background-color:#271745;
    color: white !important;
}
.user-logout{
    background-color:#271745;
    color: black !important;

}
.user-logout:hover{
    /* background-color:white; */
    background-color:#271745!important;
    color: white!important;
    border-radius: 5px;
    font-weight: bold;
    

}

.user-height img{

    height: 8vh!important;
    
}
.user-color{
    background-color:#271745;
}
.user-navcolor{

    color: white!important;
}
.hov:hover {
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    transition: all 0.4s ease !important;
    
}
.user-login-color{
      background-color: #009FAC!important;     
}
.user-login-color:hover{
    background-color: #E74260!important;
}